In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\samuel vergara\anaconda3\lib\site-packages (2.9.10)

In [4]:
import pandas as pd
import psycopg2
from psycopg2.extras import execute_values

In [26]:
conn = psycopg2.connect(
    host="localhost",
    database="laboratorioModelo",  
    user="postgres",         
    password="Colombia10."   
)
cur = conn.cursor()
print("Conexión establecida correctamente.")

Conexión establecida correctamente.

In [10]:
df = pd.read_csv('C:\\Users\\Samuel Vergara\\Downloads\\SECOP_I_-_201510_20250228.csv', encoding='latin1')
print(df.head())

                     UID  Anno Cargue SECOP Anno Firma Contrato Nivel Entidad  \
0  15-12-4271959-3939310               2015                2015   TERRITORIAL
1  15-13-4273271-3984070               2015                2015   TERRITORIAL
2  15-12-4273543-3941066               2015                2015   TERRITORIAL
3   15-4-4271660-3939688               2015                2015   TERRITORIAL
4  15-12-4274849-3941928               2015                2015      NACIONAL

                               Orden Entidad  \
0    TERRITORIAL DISTRITAL MUNICIPAL NIVEL 2
1    TERRITORIAL DISTRITAL MUNICIPAL NIVEL 6
2    TERRITORIAL DISTRITAL MUNICIPAL NIVEL 1
3  TERRITORIAL DEPARTAMENTAL DESCENTRALIZADO
4                      NACIONAL CENTRALIZADO

                                      Nombre Entidad NIT de la Entidad  \
0  ANTIOQUIA - E.S.E. HOSPITAL VENANCIO DiAZ DiAZ...         800123106
1            CASANARE - ALCALDiA MUNICIPIO DE OROCUE       800102896-2
2  RISARALDA - CONTRALORiA MUNICIPAL DE DOSQUEBRADAS         800150130
3                CASANARE - E.S.E. HOSPITAL DE YOPAL         891855029
4                                  EJeRCITO NACIONAL       No Definido

   CÃ³digo de la Entidad  ID Modalidad  \
0              205631022            12
1              285230011            13
2               28863470            12
3               28500134             4
4              115001006            12

                 Modalidad de Contratacion  ... Valor Rubro Sexo RepLegal  \
0  CONTRATACIoN DIRECTA (LEY 1150 DE 2007)  ...           0   No definido
1              CONTRATACIoN MiNIMA CUANTiA  ...           0   No definido
2  CONTRATACIoN DIRECTA (LEY 1150 DE 2007)  ...           0   No definido
3                         ReGIMEN ESPECIAL  ...           0   No definido
4  CONTRATACIoN DIRECTA (LEY 1150 DE 2007)  ...           0   No definido

   Pilar Acuerdo Paz Punto Acuerdo Paz  Municipio Entidad  \
0        No Definido       No Definido           MEDELLiN
1        No Definido       No Definido             OROCUe
2        No Definido       No Definido       DOSQUEBRADAS
3        No Definido       No Definido              YOPAL
4        No Definido       No Definido        BOGOTa D.C.

  Departamento Entidad Ultima Actualizacion Fecha Liquidacion  \
0            ANTIOQUIA           01/10/2015               NaN
1             CASANARE           09/10/2015        03/11/2015
2            RISARALDA           01/10/2015               NaN
3             CASANARE           01/10/2015        31/12/2015
4          BOGOTa D.C.           01/10/2015               NaN

  Cumple Decreto 248 IncluyeBienesDecreto248
0        No definido             No definido
1        No definido             No definido
2        No definido             No definido
3        No definido             No definido
4        No definido             No definido

[5 rows x 72 columns]

In [24]:
cur = conn.cursor()

# Leer el CSV
df = pd.read_csv('C:\\Users\\Samuel Vergara\\Downloads\\SECOP_I_-_201510_20250228.csv', encoding='latin1')

# Seleccionar y eliminar duplicados en los campos relevantes utilizando los nombres reales
entidad_cols = ['Nombre Entidad', 'Nivel Entidad', 'Orden Entidad', 'NIT de la Entidad']
df_entidad = df[entidad_cols].drop_duplicates()

# Renombrar columnas para que coincidan con la tabla "entidad"
df_entidad = df_entidad.rename(columns={
    'Nombre Entidad': 'nombre_entidad',
    'Nivel Entidad': 'nivel',
    'Orden Entidad': 'orden',
    'NIT de la Entidad': 'nit'
})

# Convertir a lista de tuplas
entidad_tuples = list(df_entidad.itertuples(index=False, name=None))

sql_entidad = """
    INSERT INTO entidad (nombre_entidad, nivel, orden, nit)
    VALUES %s
    ON CONFLICT (nombre_entidad, nit) DO NOTHING
"""

execute_values(cur, sql_entidad, entidad_tuples)
conn.commit()
print("Tabla entidad insertada correctamente.")

cur.close()
conn.close()

Tabla entidad insertada correctamente.

In [30]:
cur = conn.cursor()

# Leer el CSV
df = pd.read_csv('C:\\Users\\Samuel Vergara\\Downloads\\SECOP_I_-_201510_20250228.csv', encoding='latin1')

# Seleccionar y eliminar duplicados usando los nombres reales
modalidad_cols = ['ID Modalidad', 'Modalidad de Contratacion', 'Causal de Otras formas de Contratacion Directa']
df_modalidad = df[modalidad_cols].drop_duplicates()

# Renombrar columnas para que coincidan con la tabla "modalidad"
df_modalidad = df_modalidad.rename(columns={
    'ID Modalidad': 'id_modalidad',
    'Modalidad de Contratacion': 'modalidad_de_contratacion',
    'Causal de Otras formas de Contratacion Directa': 'causal_de_otras_formas_de'
})

# Convertir a lista de tuplas
modalidad_tuples = list(df_modalidad.itertuples(index=False, name=None))

sql_modalidad = """
    INSERT INTO modalidad (id_modalidad, modalidad_de_contratacion, causal_de_otras_formas_de)
    VALUES %s
    ON CONFLICT (id_modalidad) DO NOTHING
"""

execute_values(cur, sql_modalidad, modalidad_tuples)
conn.commit()
print("Tabla modalidad insertada correctamente.")

Tabla modalidad insertada correctamente.

In [36]:
cur = conn.cursor()

df = pd.read_csvcur = conn.cursor()

df = pd.read_csv('C:\\Users\\Samuel Vergara\\Downloads\\SECOP_I_-_201510_20250228.csv', encoding='latin1')


unspsc_cols = ['ID Objeto a Contratar', 'Objeto a Contratar', 'Detalle del Objeto a Contratar']
df_unspsc = df[unspsc_cols].drop_duplicates()

# Renombrar columnas para que coincidan con la tabla "unspsc"
df_unspsc = df_unspsc.rename(columns={
    'ID Objeto a Contratar': 'codigo',
    'Objeto a Contratar': 'nombre',
    'Detalle del Objeto a Contratar': 'detalle'
})

unspsc_tuples = list(df_unspsc.itertuples(index=False, name=None))

sql_unspsc = """
    INSERT INTO unspsc (codigo, nombre, detalle)
    VALUES %s
    ON CONFLICT (codigo) DO NOTHING
"""

execute_values(cur, sql_unspsc, unspsc_tuples)
conn.commit()
print("Tabla UNSPSC insertada correctamente.")
unspsc_cols = ['ID Objeto a Contratar', 'Objeto a Contratar', 'Detalle del Objeto a Contratar']
df_unspsc = df[unspsc_cols].drop_duplicates()

# Renombrar columnas para que coincidan con la tabla "unspsc"
df_unspsc = df_unspsc.rename(columns={
    'ID Objeto a Contratar': 'codigo',
    'Objeto a Contratar': 'nombre',
    'Detalle del Objeto a Contratar': 'detalle'
})

unspsc_tuples = list(df_unspsc.itertuples(index=False, name=None))

sql_unspsc = """
    INSERT INTO unspsc (codigo, nombre, detalle)
    VALUES %s
    ON CONFLICT (codigo) DO NOTHING
"""

execute_values(cur, sql_unspsc, unspsc_tuples)
conn.commit()
print("Tabla UNSPSC insertada correctamente.")

Tabla UNSPSC insertada correctamente.
Tabla UNSPSC insertada correctamente.

In [38]:
cur = conn.cursor()


df = pd.read_csv('C:\\Users\\Samuel Vergara\\Downloads\\SECOP_I_-_201510_20250228.csv', encoding='latin1')


# Seleccionar las columnas relevantes para contrato
contrato_cols = [
    'Numero de Contrato', 'Tipo Identifi del Contratista', 'Anno Firma Contrato',
    'Identificacion del Contratista', 'Nom Razon Social Contratista',
    'Fecha de Firma del Contrato', 'Plazo de Ejec del Contrato', 'Fecha Fin Ejec Contrato'
]
df_contrato = df[contrato_cols].drop_duplicates()

# Renombrar columnas para que coincidan con la tabla "contrato"
df_contrato = df_contrato.rename(columns={
    'Numero de Contrato': 'numero_contrato',
    'Tipo Identifi del Contratista': 'tipo_contratante',
    'Anno Firma Contrato': 'anio_firma',
    'Identificacion del Contratista': 'contratista_id',
    'Nom Razon Social Contratista': 'contratista_nombre',
    'Fecha de Firma del Contrato': 'fecha_firma',
    'Plazo de Ejec del Contrato': 'plazo',
    'Fecha Fin Ejec Contrato': 'fecha_fin'
})

# Convertir las columnas de fecha a datetime interpretando el formato día/mes/año
df_contrato['fecha_firma'] = pd.to_datetime(df_contrato['fecha_firma'], errors='coerce', dayfirst=True)
df_contrato['fecha_fin']   = pd.to_datetime(df_contrato['fecha_fin'], errors='coerce', dayfirst=True)

# Convertir cada valor de fecha a una cadena en formato 'YYYY-MM-DD' o a None si es nulo
df_contrato['fecha_firma'] = df_contrato['fecha_firma'].apply(lambda x: x.strftime('%Y-%m-%d') if pd.notnull(x) else None)
df_contrato['fecha_fin'] = df_contrato['fecha_fin'].apply(lambda x: x.strftime('%Y-%m-%d') if pd.notnull(x) else None)

# Hacer rollback por si hay transacción abortada
conn.rollback()

# Convertir el DataFrame a una lista de tuplas
contrato_tuples = list(df_contrato.itertuples(index=False, name=None))

sql_contrato = """
    INSERT INTO contrato (numero_contrato, tipo_contratante, anio_firma, contratista_id,
                          contratista_nombre, fecha_firma, plazo, fecha_fin)
    VALUES %s
    ON CONFLICT (numero_contrato) DO NOTHING
"""

execute_values(cur, sql_contrato, contrato_tuples)
conn.commit()
print("Tabla contrato insertada correctamente.")

Tabla contrato insertada correctamente.

In [40]:
cur = conn.cursor()

# Leer el CSV
df = pd.read_csv('C:\\Users\\Samuel Vergara\\Downloads\\SECOP_I_-_201510_20250228.csv', encoding='latin1')


# Definir las columnas reales para la inserción en la tabla proceso
proceso_cols = [
    'Numero de Constancia', 
    'Modalidad de Contratacion', 
    'Estado del Proceso', 
    'Cuantia Contrato', 
    'NIT de la Entidad', 
    'ID Modalidad', 
    'ID Objeto a Contratar',
    'Numero de Contrato'
]

# Seleccionar y copiar esas columnas
df_proceso = df[proceso_cols].copy()

# Renombrar las columnas para que coincidan con la estructura de la tabla proceso
df_proceso = df_proceso.rename(columns={
    'Numero de Constancia': 'numero_constancia',
    'Modalidad de Contratacion': 'tipo_proceso',
    'Estado del Proceso': 'estado_proceso',
    'Cuantia Contrato': 'valor_contrato',
    'NIT de la Entidad': 'nit',
    'ID Modalidad': 'id_modalidad',
    'ID Objeto a Contratar': 'unspsc_codigo',
    'Numero de Contrato': 'numero_de_contrato'
})

# La tabla proceso requiere la columna id_entidad (clave foránea).
# Se asume que ya insertaste la tabla entidad. Mapeamos el NIT a id_entidad:
cur.execute("SELECT nit, id_entidad FROM entidad")
entidad_mapping = dict(cur.fetchall())
df_proceso['id_entidad'] = df_proceso['nit'].map(entidad_mapping)

# Eliminar registros que no tengan mapeo (o gestionarlos según convenga)
df_proceso = df_proceso.dropna(subset=['id_entidad'])

# Seleccionar las columnas finales en el orden definido en la tabla proceso:
# (numero_constancia, tipo_proceso, estado_proceso, valor_contrato, id_entidad, id_modalidad, unspsc_codigo, numero_de_contrato)
df_proceso_final = df_proceso[['numero_constancia', 'tipo_proceso', 'estado_proceso', 
                               'valor_contrato', 'id_entidad', 'id_modalidad', 
                               'unspsc_codigo', 'numero_de_contrato']]

# Convertir a lista de tuplas para la inserción
proceso_tuples = list(df_proceso_final.itertuples(index=False, name=None))

sql_proceso = """
    INSERT INTO proceso (numero_constancia, tipo_proceso, estado_proceso, valor_contrato, 
                         id_entidad, id_modalidad, unspsc_codigo, numero_de_contrato)
    VALUES %s
    ON CONFLICT (numero_constancia) DO NOTHING
"""

execute_values(cur, sql_proceso, proceso_tuples)
conn.commit()
print("Tabla proceso insertada correctamente.")

Tabla proceso insertada correctamente.

In [42]:
sql = """
SELECT e.id_entidad, e.nombre_entidad
FROM entidad e
LEFT JOIN proceso p 
  ON e.id_entidad = p.id_entidad 
  AND LOWER(p.tipo_proceso) LIKE '%licitacion%'
WHERE p.numero_constancia IS NULL;
"""

# Ejecutar la consulta y cargar resultados en un DataFrame
cur.execute(sql)
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_entidades = pd.DataFrame(resultados, columns=columnas)
print(df_entidades.head())

   id_entidad                                     nombre_entidad
0        2848  HUILA - INSTITUCIoN EDUCATIVA JUAN XXIII - ALG...
1         251        CAUCA - CONTRALORiA DEPARTAMENTAL DEL CAUCA
2        2026  ANTIOQUIA - INSTITUCIoN EDUCATIVA MARiA DE LOS...
3        2409  VALLE DEL CAUCA - INSTITUCIoN EDUCATIVA ATANAS...
4        2024  ANTIOQUIA - INSTITUCIoN EDUCATIVA MARCELIANA S...

In [44]:
sql = """
SELECT e.id_entidad, e.nombre_entidad, COUNT(p.numero_constancia) AS total_procesos
FROM proceso p
JOIN entidad e 
  ON p.id_entidad = e.id_entidad
JOIN unspsc u 
  ON p.unspsc_codigo = u.codigo
WHERE u.codigo = '43000000'
GROUP BY e.id_entidad, e.nombre_entidad
HAVING COUNT(p.numero_constancia) >= 3;
"""

# Ejecutar la consulta y cargar resultados en un DataFrame
cur.execute(sql)
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_entidades = pd.DataFrame(resultados, columns=columnas)

# Mostrar los primeros resultados
print(df_entidades.head())

   id_entidad                                     nombre_entidad  \
0          51  INSTITUTO NACIONAL DE VIGILANCIA DE MEDICAMENT...
1        1750              CONTADURiA GENERAL DE LA NACIoN (CGN)
2         576  INSTITUTO DE HIDROLOGiA; METEOROLOGiA Y ESTUDI...
3         508    VALLE DEL CAUCA - ALCALDiA MUNICIPIO DE JAMUNDi
4         175             CALDAS - ALCALDiA MUNICIPIO DE ANSERMA

   total_procesos
0               3
1               3
2               6
3               3
4               3

In [46]:
sql = """
WITH estados AS (
    SELECT DISTINCT estado_proceso 
    FROM proceso
)
SELECT 
    e.estado_proceso, 
    u.codigo AS producto_codigo, 
    u.nombre AS producto_nombre,
    COUNT(p.numero_constancia) AS total_procesos
FROM estados e
CROSS JOIN unspsc u
LEFT JOIN proceso p 
    ON p.estado_proceso = e.estado_proceso 
   AND p.unspsc_codigo = u.codigo
GROUP BY e.estado_proceso, u.codigo, u.nombre
ORDER BY e.estado_proceso, total_procesos DESC;
"""

# Ejecutar la consulta y cargar los resultados en un DataFrame
cur.execute(sql)
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_estadistica = pd.DataFrame(resultados, columns=columnas)

# Mostrar los primeros registros
print(df_estadistica.head())

  estado_proceso producto_codigo  \
0     ADJUDICADO        72000000
1     ADJUDICADO        95000000
2     ADJUDICADO        81000000
3     ADJUDICADO        80000000
4     ADJUDICADO        43000000

                                     producto_nombre  total_procesos
0  SERVICIOS DE EDIFICACIoN, CONSTRUCCIoN DE INST...             214
1            TERRENOS, EDIFICIOS, ESTRUCTURAS Y ViAS             171
2  SERVICIOS BASADOS EN INGENIERiA, INVESTIGACIoN...              51
3  SERVICIOS DE GESTION, SERVICIOS PROFESIONALES ...              49
4  DIFUSIoN DE TECNOLOGiAS DE INFORMACIoN Y TELEC...              20

In [48]:
sql = """
SELECT 
    e.id_entidad, 
    e.nombre_entidad, 
    p.tipo_proceso,
    SUM(p.valor_contrato) AS total_contratado
FROM proceso p
JOIN entidad e 
  ON p.id_entidad = e.id_entidad
GROUP BY e.id_entidad, e.nombre_entidad, p.tipo_proceso
ORDER BY e.id_entidad, p.tipo_proceso;
"""

# Ejecutar la consulta y cargar los resultados en un DataFrame
cur.execute(sql)
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_valor_contratado = pd.DataFrame(resultados, columns=columnas)

# Mostrar los primeros registros
print(df_valor_contratado.head())

   id_entidad                                     nombre_entidad  \
0           1  ANTIOQUIA - E.S.E. HOSPITAL VENANCIO DiAZ DiAZ...
1           2            CASANARE - ALCALDiA MUNICIPIO DE OROCUE
2           2            CASANARE - ALCALDiA MUNICIPIO DE OROCUE
3           2            CASANARE - ALCALDiA MUNICIPIO DE OROCUE
4           2            CASANARE - ALCALDiA MUNICIPIO DE OROCUE

                                        tipo_proceso total_contratado
0            CONTRATACIoN DIRECTA (LEY 1150 DE 2007)        231269930
1                        CONCURSO DE MeRITOS ABIERTO         98509893
2                        CONTRATACIoN MiNIMA CUANTiA        321437696
3                                 LICITACIoN PuBLICA       2392192831
4  SELECCIoN ABREVIADA DE MENOR CUANTiA (LEY 1150...        176059573

In [50]:
sql = """
SELECT 
    u.codigo AS producto_codigo, 
    u.nombre AS producto_nombre, 
    SUM(p.valor_contrato) AS total_contratado
FROM proceso p
JOIN unspsc u 
  ON p.unspsc_codigo = u.codigo
GROUP BY u.codigo, u.nombre
ORDER BY total_contratado DESC
LIMIT 5;
"""

# Ejecutar la consulta y cargar los resultados en un DataFrame
cur.execute(sql)
resultados = cur.fetchall()
columnas = [desc[0] for desc in cur.description]
df_top_productos = pd.DataFrame(resultados, columns=columnas)

# Mostrar los primeros registros
print(df_top_productos.head())

  producto_codigo                                    producto_nombre  \
0        72000000  SERVICIOS DE EDIFICACIoN, CONSTRUCCIoN DE INST...
1        95000000            TERRENOS, EDIFICIOS, ESTRUCTURAS Y ViAS
2        84000000                 SERVICIOS FINANCIEROS Y DE SEGUROS
3        80000000  SERVICIOS DE GESTION, SERVICIOS PROFESIONALES ...
4        85000000                                 SERVICIOS DE SALUD

  total_contratado
0    1407683127043
1    1379480808922
2     918163710510
3     730422217092
4     557176348248